.content-wrap__form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 510px;
  padding: 60px 15px 40px;
  background-color: #fff;
  box-shadow: 0 28px 100px #c2dbeb;
  height: unset;
  margin: 0;
  margin-right: 22px;
  padding: 80px 60px 40px;
}

.contact-form {
  width: 100%;
}

.contact-form__item {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.fake-placeholder {
  content: "";
  position: absolute;
  left: 5px;
  top: 0;
  font-size: 20px;
  font-weight: 700;
  color: #777;
  pointer-events: none;
  transition: 0.3s ease;

  &:active {
    color: rgb(0, 0, 0);
    font-size: 16px;
    transition: 0.3s ease;
  }
}

textarea,
input {
  width: 100%;
  display: inline-block;
  border: 0;
  border-bottom: 1px solid #000;
  padding-left: 5px;
  padding-right: 5px;
  font-family: "M PLUS 1p", sans-serif;

  &:last-child {
    border-bottom: unset;
  }
}

.form-field {
  font-size: 20px;
  color: rgb(188, 188, 188);
  font-weight: 700;
  line-height: 1.2;
}

.btn-field {
  margin-right: 0;
  font-size: 20px;
}
