.section_portfolio {
  padding-top: 110px;
  padding-bottom: 130px;
}

.section-titile {
  font-size: 64px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 60px;
}

.line-bottom__modify {
  &::after {
    bottom: 16px;
  }
}

.portfolio-cards {
  display: flex;
  justify-content: space-between;
}

.portfolio_card {
  width: 49%;
  max-width: 450px;

  & img {
    height: 371px;
  }

  & a {
    color: rgb(0, 0, 0);
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.2;
    transition: all 0.5s ease;
  }

  & .portfolio_card_img {
    display: block;
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(251, 219, 77, 0.74);
      transform: translateY(100%);
    }

    & .btn-hover {
      padding: 15px 30px;
      position: absolute;
      top: 50%;
      left: 50%;
      display: inline-block;
      transform: translate(-50%, -50%);
      color: #ea736d;
      border-radius: 30px;
      background-color: #fff;
      font-size: 22px;
      font-weight: 800;
      // display: none;
      opacity: 0;
      transition: 0.5s ease;

      &:hover {
        background-color: #ea736d;
        color: #fff;
      }
    }

    &:hover:before {
      // display: block;
      transition: 0.3s;
      transform: translateY(0%);
    }

    &:hover .btn-hover {
      transition: 0.4s;
      opacity: 1;
    }

    &:active .btn-hover {
      transition: 0.4s;
      opacity: 1;
      background-color: #ec4037;
    }
  }
}

.card-title {
  margin-top: 25px;
  margin-bottom: 10px;
  border-bottom: 1px solid transparent;

  &:hover {
    color: #ec7d78;
    border-bottom: 1px solid #ec7d78;
  }
}

.card-text {
  font-size: 20px;
  color: #6d6b6b;
  line-height: 1.2;
}
