.section_portfolio {
  padding-top: 60px;
  padding-bottom: 90px;
  background-color: rgb(244, 248, 249);

  /* Tablets */
  @media only screen and (min-width: 768px) {
    padding-top: 80px;
    padding-bottom: 75px;
  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width: 1200px) {
    padding-top: 110px;
    padding-bottom: 130px;
  }
}

.section-titile {
  font-size: 40px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;

  /* Tablets */
  @media only screen and (min-width: 768px) {
    font-size: 52px;
  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width: 1200px) {
    font-size: 64px;
  }

  &.section-titile-portfolio {
    margin-bottom: 40px;
    text-align: unset;
    /* Tablets */
    @media only screen and (min-width: 768px) {
      margin-bottom: 60px;
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width: 1200px) {
      margin-bottom: 130px;
    }
  }
}

.line-bottom__modify {
  &::after {
    bottom: 9px;
    /* Tablets */
    @media only screen and (min-width: 768px) {
      bottom: 12px;
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width: 1200px) {
      bottom: 16px;
    }
  }
}

.portfolio-cards {
  display: flex;
  flex-direction: column;

  /* Tablets */
  @media only screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width: 1200px) {
  }
}

.portfolio_card {
  width: 100%;
  min-width: 290px;
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }

  /* Tablets */
  @media only screen and (min-width: 768px) {
    width: 49%;
    min-width: 340px;
    margin-bottom: 0;
  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width: 1200px) {
    width: 49%;
    max-width: 555px;
  }

  & a {
    color: rgb(0, 0, 0);
    display: inline-block;
    font-weight: bold;
    font-size: 22px;
    line-height: 1.2;
    transition: all 0.5s ease;

    /* Tablets */
    @media only screen and (min-width: 768px) {
      font-size: 24px;
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width: 1200px) {
      font-size: 32px;
    }
  }

  & .portfolio_card_img {
    display: block;
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(251, 219, 77, 0.74);
      transform: translateY(100%);
    }

    & .btn-hover {
      padding: 15px 30px;
      position: absolute;
      top: 50%;
      left: 50%;
      display: inline-block;
      transform: translate(-50%, -50%);
      color: #ea736d;
      border-radius: 30px;
      background-color: #fff;
      font-size: 22px;
      font-weight: 800;
      // display: none;
      opacity: 0;
      transition: 0.5s ease;

      &:hover {
        background-color: #ea736d;
        color: #fff;
      }
    }

    &:hover:before {
      transition: 0.3s;
      transform: translateY(0%);
    }

    &:hover .btn-hover {
      transition: 0.4s;
      opacity: 1;
    }

    &:active .btn-hover {
      transition: 0.4s;
      opacity: 1;
      background-color: #ec4037;
    }
  }
}

.card-title {
  margin-top: 25px;
  margin-bottom: 10px;
  border-bottom: 1px solid transparent;

  &:hover {
    color: #ec7d78;
    border-bottom: 1px solid #ec7d78;
  }
}

.card-text {
  font-size: 16px;
  color: #6d6b6b;
  line-height: 1.2;

  /* Tablets */
  @media only screen and (min-width: 768px) {
    font-size: 18px;
  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width: 1200px) {
    font-size: 20px;
  }
}
